    #rs-popup-wrapper {
        display: none;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    #rs-popup button {
        background: #ffffff;
        color: #000;
        padding: 10px 20px;
        margin-top: 10px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        font-weight: bold;
    }

    #rs-popup img {
        max-width: 100px;
        margin-bottom: 15px;
    }